---
---

@font-face {
  font-family: "B Nazanin";
  src: url("fonts/BNazanin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "B Nazanin";
  src: url("fonts/BNaznnBd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
